name: Azure Static Web Apps CI/CD

on:
	push:
		branches:
			- main
	pull_request:
		types: [opened, synchronize, reopened, closed]
		branches:
			- main

jobs:
	build_and_deploy_job:
		if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
		runs-on: ubuntu-latest
		name: Build and Deploy Job
		permissions:
			contents: read

		steps:
			- uses: actions/checkout@v4
				with:
					submodules: true
					lfs: false

			- name: Use Node.js 20.19+
				uses: actions/setup-node@v4
				with:
					node-version: '20.19.0'
					cache: 'npm'

			- name: Install dependencies (app)
				run: npm ci

			- name: Build app
				run: npm run build

			- name: Install dependencies (api)
				working-directory: api
				run: npm ci

			- name: Build api
				working-directory: api
				run: npm run build

			- name: Build And Deploy
				id: builddeploy
				uses: Azure/static-web-apps-deploy@v1
				with:
					azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_GRAY_COAST_093E4210F }}
					action: 'upload'
					app_location: 'dist'
					output_location: ''
					api_location: 'api'
					skip_app_build: true
					skip_api_build: true

	close_pull_request_job:
		if: github.event_name == 'pull_request' && github.event.action == 'closed'
		runs-on: ubuntu-latest
		name: Close Pull Request Job
		permissions:
			contents: read
		steps:
			- name: Close Pull Request
				id: closepullrequest
				uses: Azure/static-web-apps-deploy@v1
				with:
					azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_GRAY_COAST_093E4210F }}
					action: 'close'
